In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import ast 
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
# from nltk.stem.snowball import SnowballStemmer
# from nltk.stem.wordnet import WordNetLemmatizer
# from nltk.corpus import wordnet
# from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [56]:
apps = pd.read_csv("C:\\Users\\Ishaan\\Desktop\\kodikon\\apps.tsv", delimiter='\t',encoding='utf-8')
user_history = pd.read_csv("C:\\Users\\Ishaan\\Desktop\\kodikon\\user_history.tsv", delimiter='\t',encoding='utf-8')
jobs = pd.read_csv("C:\\Users\\Ishaan\\Desktop\\kodikon\\jobs.tsv", delimiter='\t',encoding='utf-8', error_bad_lines=False)
users = pd.read_csv("C:\\Users\\Ishaan\\Desktop\\kodikon\\users.tsv" ,delimiter='\t',encoding='utf-8')
test_users = pd.read_csv("C:\\Users\\Ishaan\\Desktop\\kodikon\\test_users.tsv", delimiter='\t',encoding='utf-8')

b'Skipping line 122433: expected 11 fields, saw 12\n'
b'Skipping line 602576: expected 11 fields, saw 12\n'
b'Skipping line 990950: expected 11 fields, saw 12\n'

NameError: name 'app' is not defined

In [3]:
apps_training = apps.loc[apps['Split'] == 'Train']
apps_testing = apps.loc[apps['Split'] == 'Test']
user_history_training = user_history.loc[user_history['Split'] =='Train']
user_history_testing = user_history.loc[user_history['Split'] =='Test']
users_training = users.loc[users['Split']=='Train']
users_testing = users.loc[users['Split']=='Test']

In [12]:
jobs_US = jobs.loc[jobs['Country']=='US']
jobs_US

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59
5,10,1,SALON/SPA COORDINATOR,<b> <b>— SALON/SPA COORDINATOR ...,Please refer to the Job Description to view th...,Ormond Beach,FL,US,32174,2012-03-05 14:21:50.203,2012-04-04 23:59:59
6,11,1,SUPERINTENDENT,<b> <b>SUPERINTENDENT</b> </b> —— Central...,Please refer to the Job Description to view th...,Orlando,FL,US,32801,2012-03-06 09:21:54.58,2012-04-05 23:59:59
7,12,1,ELECTRONIC PRE-PRESS PROFESSIONAL,<b> <b>ELECTRONIC PRE-PRESS PROFESSIONAL</b...,Please refer to the Job Description to view th...,Orlando,FL,US,32808,2012-03-06 11:21:53.63,2012-04-05 23:59:59
8,13,1,UTILITY LINE TRUCK OPERATOR/ DIGGER DERRICK,<b> </b> \r\n <b> <b>UTILITY LINE TRUCK...,Please refer to the Job Description to view th...,Orlando,FL,US,32801,2012-03-06 16:06:53.677,2012-04-05 23:59:59
9,14,1,CONSTRUCTION PROJECT MGR & PM TRAINEE,<b> <b>CONSTRUCTION PROJECT MGR </b> </b> \...,Please refer to the Job Description to view th...,Winter Park,FL,US,32789,2012-03-07 10:21:37.467,2012-04-06 23:59:59
10,15,1,Administrative Assistant,This Administrative Assistant position is resp...,Please refer to the Job Description to view th...,Los Angeles,CA,US,90011,2012-03-09 01:12:16.81,2012-04-08 23:59:59
11,16,1,ACCOUNT EXECUTIVES,<b> <b>ACCOUNT EXECUTIVES</b> </b> —— Imm...,Please refer to the Job Description to view th...,Longwood,FL,US,32779,2012-03-08 05:09:42.803,2012-04-07 23:59:59
12,17,1,COMMERCIAL ESTIMATOR,"<b> <b>TRI-CITY ELECTRICAL CONTRACTORS, INC...",Please refer to the Job Description to view th...,Altamonte Springs,FL,US,32714,2012-03-08 11:07:05.733,2012-04-07 23:59:59
13,18,1,Immediate Opening,Immediate Opening - AR Clerk is needed foward...,Please refer to the Job Description to view th...,Orlando,FL,US,32819,2012-03-10 01:13:29.223,2012-04-09 23:59:59
14,19,1,TESL Adjunct,TESL Adjunct - The Embry-Riddle Language Insti...,Please refer to the Job Description to view th...,Daytona Beach,FL,US,32114,2012-03-10 01:13:30.193,2012-04-09 23:59:59
15,20,1,Salon Manager/Hairstylists,Salon Manager/Hairstylists - Macys Oviedo Mall...,Please refer to the Job Description to view th...,Oviedo,FL,US,32765,2012-03-10 01:13:29.93,2012-04-09 23:59:59
16,21,1,VOCATIONAL COUNSELOR,<b> <b>VOCATIONAL COUNSELOR</b> </b> —— R...,Please refer to the Job Description to view th...,Orlando,FL,US,32804,2012-03-09 16:21:56.203,2012-04-08 23:59:59
17,22,1,GALLERY SALES POSITIONS,<b> <b> GALLERY SALES POSITIONS ...,Please refer to the Job Description to view th...,Orlando,FL,US,32819,2012-03-09 16:51:56.403,2012-04-08 23:59:59
18,23,1,SURGICAL SCRUB TECH,<b> <b> SURGICAL SCRUB TECH </b> </b> —— V...,Please refer to the Job Description to view th...,Altamonte Springs,FL,US,32701,2012-03-09 17:06:45.98,2012-04-08 23:59:59
19,24,1,Real Estate Agent,Now accepting Seasoned Agents who want to earn...,Please refer to the Job Description to view th...,Windermere,FL,US,34786,2012-03-10 01:13:30.43,2012-04-09 23:59:59
20,25,1,"LPN, RN, CNA, TECHS","<b> <b> LPN, RN, CNA, TECHS</b> </b> —— L...",Please refer to the Job Description to view th...,Leesburg,FL,US,34749,2012-03-10 05:10:01.203,2012-04-09 23:59:59
21,26,1,Vacation Sales Representatives,WYNDAHAM VACATION OWNERSHIP Vacation Sales Rep...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-10 09:01:14.077,2012-04-09 23:59:59
22,27,1,Top Sales Agent,WANTED TOP SALES AGENT With a Dream to build a...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-10 09:01:15.793,2012-04-09 23:59:59
23,28,1,Quick Service Food & Beverage,I love making his day a little sweeter. I am ...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-10 09:01:17.68,2012-04-09 23:59:59
24,29,1,CREDIT/COLLECTIONS ASSISTANT,<b> </b> \r\n <b> <b> CREDIT/COLLECTI...,Please refer to the Job Description to view th...,Orlando,FL,US,32801,2012-03-11 05:09:54.35,2012-04-10 23:59:59
25,30,1,POOL TECH,<b> <b>POOL TECH</b> </b> —— Immediate FT...,Please refer to the Job Description to view th...,Orlando,FL,US,32805,2012-03-12 10:51:41.033,2012-04-11 23:59:59
26,31,1,EXPERIENCED ROOFERS,<b> <b>EXPERIENCED ROOFERS</b> </b> —— Ne...,Please refer to the Job Description to view th...,Orlando,FL,US,32811,2012-03-12 16:06:57.6,2012-04-11 23:59:59
27,32,1,ARIZA TALENT & MODELING,<b> </b> \r\n <b> <b>ARIZA TALENT & MOD...,Please refer to the Job Description to view th...,Longwood,FL,US,32750,2012-03-12 16:21:55.063,2012-04-11 23:59:59
28,33,1,CDL CLASS A DRIVER,<b> <b>CDL CLASS A DRIVER</b> </b> —— Nee...,Please refer to the Job Description to view th...,Apopka,FL,US,32703,2012-03-12 16:36:54.783,2012-04-11 23:59:59
29,34,1,Skilled Tradesman,Skilled Tradesman - Experience in ALL of the f...,Please refer to the Job Description to view th...,Orlando,FL,US,32819,2012-03-13 01:15:08.073,2012-04-12 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...
1091893,1116070,7,Diesel Mechanic - Diesel Tech - Diesel Technician,<STRONG>Diesel Tech - Diesel Mechanic - Diesel...,<STRONG>Diesel Tech - Diesel Mechanic - Diesel...,Yonkers,NY,US,10701,2012-05-31 16:40:26.373,2012-06-29 23:59:00
1091894,1116074,7,"IT Project Manager, PMP",<P> </P>\r<P><SPAN>Jawood has a new opportunit...,<SPAN>\r<UL>\r <LI>Needs to have strong bac...,Newark,NJ,US,07105,2012-05-25 15:07:45.207,2012-06-24 23:59:00
1091895,1116076,7,PACU Nurse,<p>South Park Surgery Center has exceeded pati...,<p>Job Requirements </p>\r<p>&nbsp;</p>\r<p>Pr...,Charlotte,NC,US,28210,2012-06-21 13:30:36.87,2012-07-20 23:59:59
1091896,1116077,7,Direct Care Staff,<br>\rThe <strong>Direct Care Staff</strong> i...,<p>&nbsp;</p>\r<ul>\r <li>High School Diplo...,Columbus,MN,US,55025,2012-05-31 10:37:25.92,2012-06-29 23:59:00
1091897,1116082,7,Corporate Attorney/In House Trial - 160K Annua...,Bigelow Companies a well established multi-sta...,<p>&nbsp;</p>\r<ul>\r <li>Honesty\r <li>...,Las Vegas,NV,US,89119,2012-06-12 11:43:50.007,2012-07-11 23:59:00
1091898,1116139,7,Insurance Agent - Insurance Sales (Finance/Bus...,"<SPAN>\r<P align=left><SPAN>Farmers Group, Inc...",<SPAN>\r<DIV>\r<P align=left><SPAN>As an Insur...,Westminster,CO,US,NaN,2012-06-30 02:03:40.167,2012-07-29 23:59:59
1091899,1116153,7,Recruiter,<p><span><strong></strong></span></p>\r<p>Gree...,<br />\r<p></p>\r<ul>\r <li>BA/BS degree </...,New York,NY,US,10016,2012-06-24 02:04:32.71,2012-07-23 23:59:59
1091900,1116163,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Columbia,SC,US,29210,2012-06-22 00:33:11.487,2012-07-21 23:59:59
1091901,1116166,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Suffolk,VA,US,23434,2012-06-22 00:33:13.567,2012-07-21 23:59:59
1091902,1116182,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Chicago,IL,US,60643,2012-06-22 00:33:20.353,2012-07-21 23:59:59
1091903,1116183,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Belleville,MI,US,48111,2012-06-22 00:33:21.1,2012-07-21 23:59:59
1091904,1116184,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Kalamazoo,MI,US,49008,2012-06-22 00:33:21.09,2012-07-21 23:59:59
1091905,1116185,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Durham,NC,US,27703,2012-06-22 00:33:22.25,2012-07-21 23:59:59
1091906,1116186,7,Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Waco,TX,US,76705,2012-06-22 00:33:21.83,2012-07-21 23:59:59
1091907,1116187,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Atlanta,GA,US,30316,2012-06-22 00:33:24.033,2012-07-21 23:59:59
1091908,1116188,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Columbia,SC,US,29210,2012-06-22 00:33:25.033,2012-07-21 23:59:59
1091909,1116189,7,DC Manager - 1st Shift,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Darlington,SC,US,29540,2012-06-22 00:33:28.027,2012-07-21 23:59:59
1091910,1116190,7,1st Assistant Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Reynoldsburg,OH,US,43068,2012-06-22 00:33:09.647,2012-07-21 23:59:59
1091911,1116191,7,Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Canton,MS,US,39046,2012-06-22 00:33:28.343,2012-07-21 23:59:59
1091912,1116196,7,Assistant Store Manager,Citi Trends Fashion for Less is a value priced...,Please refer to the Job Description for the qu...,Saint Louis,MO,US,63121,2012-06-22 00:33:33.723,2012-07-21 23:59:59
1091913,1116197,7,Quality Assurance Supervisor,<P> \r<B></DIV>\r</B></P>\r<B>\r<P align=left>...,See Job Description,Appleton,WI,US,NaN,2012-06-19 09:53:20.42,2012-07-18 23:59:59
1091914,1116199,7,Business Development Associate,"<br />\r<p><span>TA Staffing, one of Tennessee...",<br />\r<p><span><br />\r</span></p>\r<p><span...,Nashville,TN,US,37217,2012-06-18 13:44:31.307,2012-07-17 23:59:59
1091915,1116215,7,Hospitality Manager,"<b>Job Responsibilities:</b> In this role, you...","We require a strong, stable work history along...",Albuquerque,NM,US,87101,2012-06-21 19:01:45.297,2012-07-20 23:59:59
1091916,1116222,7,Receptionist,<P>EMPLOYER: Bernadette Mayer’s Med Spa and W...,"<P style=""TEXT-ALIGN: justify""><B><SPAN style=...",Chicago,IL,US,60646,2012-05-21 10:22:29.723,2012-06-20 23:59:59
1091917,1116228,7,PRODUCTION DESIGNER,<p><span>The American Veterinary Medical Assoc...,<span>The qualified candidate will have a BA/B...,Schaumburg,IL,US,60173,2012-05-31 15:46:42.407,2012-06-29 23:59:00
1091918,1116242,7,ELECTRICAL SPECIALIST,"<p><strong><span style=""text-decoration: under...",<ul>\r <li>3-5 years experience as a plant ...,Amsterdam,NY,US,12010,2012-06-12 15:18:25.133,2012-07-11 23:59:00
1091919,1116253,7,General and Assistant Managers,"<div style=""text-align: center""><span style=""t...",<ul>\r <li>5-8 years of <em>Restaurant Mana...,Birmingham,AL,US,NaN,2012-05-29 15:57:34.067,2012-06-28 23:59:00
1091920,1116294,7,Assistant Retail Store Manager - Retail Sales ...,"<span>\r<hr>\r<p align=""center""><strong>Assist...","<span>\r<hr>\r<p align=""center""><strong>Assist...",Carthage,MS,US,39051,2012-05-25 12:20:17.28,2012-06-24 23:59:00
1091921,1116304,7,Career Experience Specialist - Career Services...,<p>&nbsp;</p>\r<p><b><span>Macomb Community Co...,see description,Warren,MI,US,48088,2012-05-24 12:34:38.667,2012-06-23 23:59:00
1091922,1116307,7,ACCOUNT EXECUTIVE,<p><strong>\r</strong></p>\r<p><strong><strong...,<ul>\r <li>Minimum two years proven&nbsp;su...,Syracuse,NY,US,NaN,2012-06-09 02:04:55.433,2012-07-08 23:59:00

In [39]:
jobs_US_base_line = jobs_US.iloc[0:10000,0:8]
jobs_US_base_line = jobs_US_base_line.dropna()
jobs_US_base_line = jobs_US_base_line.reset_index(drop=True)
jobs_US_base_line

,JobID,WindowID,Title,Description,Requirements,City,State,Country
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US
5,10,1,SALON/SPA COORDINATOR,<b> <b>— SALON/SPA COORDINATOR ...,Please refer to the Job Description to view th...,Ormond Beach,FL,US
6,11,1,SUPERINTENDENT,<b> <b>SUPERINTENDENT</b> </b> —— Central...,Please refer to the Job Description to view th...,Orlando,FL,US
7,12,1,ELECTRONIC PRE-PRESS PROFESSIONAL,<b> <b>ELECTRONIC PRE-PRESS PROFESSIONAL</b...,Please refer to the Job Description to view th...,Orlando,FL,US
8,13,1,UTILITY LINE TRUCK OPERATOR/ DIGGER DERRICK,<b> </b> \r\n <b> <b>UTILITY LINE TRUCK...,Please refer to the Job Description to view th...,Orlando,FL,US
9,14,1,CONSTRUCTION PROJECT MGR & PM TRAINEE,<b> <b>CONSTRUCTION PROJECT MGR </b> </b> \...,Please refer to the Job Description to view th...,Winter Park,FL,US
10,15,1,Administrative Assistant,This Administrative Assistant position is resp...,Please refer to the Job Description to view th...,Los Angeles,CA,US
11,16,1,ACCOUNT EXECUTIVES,<b> <b>ACCOUNT EXECUTIVES</b> </b> —— Imm...,Please refer to the Job Description to view th...,Longwood,FL,US
12,17,1,COMMERCIAL ESTIMATOR,"<b> <b>TRI-CITY ELECTRICAL CONTRACTORS, INC...",Please refer to the Job Description to view th...,Altamonte Springs,FL,US
13,18,1,Immediate Opening,Immediate Opening - AR Clerk is needed foward...,Please refer to the Job Description to view th...,Orlando,FL,US
14,19,1,TESL Adjunct,TESL Adjunct - The Embry-Riddle Language Insti...,Please refer to the Job Description to view th...,Daytona Beach,FL,US
15,20,1,Salon Manager/Hairstylists,Salon Manager/Hairstylists - Macys Oviedo Mall...,Please refer to the Job Description to view th...,Oviedo,FL,US
16,21,1,VOCATIONAL COUNSELOR,<b> <b>VOCATIONAL COUNSELOR</b> </b> —— R...,Please refer to the Job Description to view th...,Orlando,FL,US
17,22,1,GALLERY SALES POSITIONS,<b> <b> GALLERY SALES POSITIONS ...,Please refer to the Job Description to view th...,Orlando,FL,US
18,23,1,SURGICAL SCRUB TECH,<b> <b> SURGICAL SCRUB TECH </b> </b> —— V...,Please refer to the Job Description to view th...,Altamonte Springs,FL,US
19,24,1,Real Estate Agent,Now accepting Seasoned Agents who want to earn...,Please refer to the Job Description to view th...,Windermere,FL,US
20,25,1,"LPN, RN, CNA, TECHS","<b> <b> LPN, RN, CNA, TECHS</b> </b> —— L...",Please refer to the Job Description to view th...,Leesburg,FL,US
21,26,1,Vacation Sales Representatives,WYNDAHAM VACATION OWNERSHIP Vacation Sales Rep...,Please refer to the Job Description to view th...,Orlando,FL,US
22,27,1,Top Sales Agent,WANTED TOP SALES AGENT With a Dream to build a...,Please refer to the Job Description to view th...,Orlando,FL,US
23,28,1,Quick Service Food & Beverage,I love making his day a little sweeter. I am ...,Please refer to the Job Description to view th...,Orlando,FL,US
24,29,1,CREDIT/COLLECTIONS ASSISTANT,<b> </b> \r\n <b> <b> CREDIT/COLLECTI...,Please refer to the Job Description to view th...,Orlando,FL,US
25,30,1,POOL TECH,<b> <b>POOL TECH</b> </b> —— Immediate FT...,Please refer to the Job Description to view th...,Orlando,FL,US
26,31,1,EXPERIENCED ROOFERS,<b> <b>EXPERIENCED ROOFERS</b> </b> —— Ne...,Please refer to the Job Description to view th...,Orlando,FL,US
27,32,1,ARIZA TALENT & MODELING,<b> </b> \r\n <b> <b>ARIZA TALENT & MOD...,Please refer to the Job Description to view th...,Longwood,FL,US
28,33,1,CDL CLASS A DRIVER,<b> <b>CDL CLASS A DRIVER</b> </b> —— Nee...,Please refer to the Job Description to view th...,Apopka,FL,US
29,34,1,Skilled Tradesman,Skilled Tradesman - Experience in ALL of the f...,Please refer to the Job Description to view th...,Orlando,FL,US
...,...,...,...,...,...,...,...,...
9801,36626,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Billings,MT,US
9802,36628,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Daytona,FL,US
9803,36629,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,El Cajon,CA,US
9804,36630,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Fargo,ND,US
9805,36631,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Green Bay,WI,US
9806,36632,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Riverside,CA,US
9807,36633,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Rocky Mount,NC,US
9808,36634,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,San Francisco,CA,US
9809,36636,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Washington,DC,US
9810,36637,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Chesapeake,VA,US
9811,36639,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Joliet,IL,US
9812,36640,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Jonesboro,GA,US
9813,36641,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Nampa,ID,US
9814,36645,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Yuma,AZ,US
9815,36647,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Beverly Hills,CA,US
9816,36648,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Boulder,CO,US
9817,36650,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Concord,NC,US
9818,36652,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Lake Orion,MI,US
9819,36653,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Lebanon,PA,US
9820,36654,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Levittown,PA,US
9821,36656,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Oceanside,CA,US
9822,36657,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Palmdale,CA,US
9823,36658,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Phenix City,AL,US
9824,36660,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Winston Salem,NC,US
9825,36661,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Youngstown,OH,US
9826,36662,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Alpharetta,GA,US
9827,36663,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Antioch,TN,US
9828,36664,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Austin,TX,US
9829,36666,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Covington,KY,US
9830,36667,1,Sales Representative / Account Manager / Cust...,<P>If you are a confident and highly motivated...,<P>As an Outside Sales Rep with Central Paymen...,Daytona Beach,FL,US

In [24]:
jobs_US_base_line['Title'] = jobs_US_base_line['Title'].fillna('')
jobs_US_base_line['Description'] = jobs_US_base_line['Description'].fillna('')
#jobs_US_base_line['Requirements'] = jobs_US_base_line['Requirements'].fillna('')

jobs_US_base_line['Description'] = jobs_US_base_line['Title'] + jobs_US_base_line['Description']

In [37]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(jobs_US_base_line['Description'])
tfidf_matrix

<9831x503836 sparse matrix of type '<class 'numpy.float64'>'
	with 2307866 stored elements in Compressed Sparse Row format>

In [26]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [98]:
jobs_US_base_line = jobs_US_base_line.reset_index()
titles = jobs_US_base_line['Title']
indices = pd.Series(jobs_US_base_line.index, index=jobs_US_base_line['Title'])
indices

Title
Security Engineer/Technical Lead                                 0
SAP Business Analyst / WM                                        1
P/T HUMAN RESOURCES ASSISTANT                                    2
Route Delivery Drivers                                           3
Housekeeping                                                     4
SALON/SPA COORDINATOR                                            5
SUPERINTENDENT                                                   6
ELECTRONIC PRE-PRESS PROFESSIONAL                                7
UTILITY LINE TRUCK OPERATOR/ DIGGER DERRICK                      8
CONSTRUCTION PROJECT MGR & PM TRAINEE                            9
Administrative Assistant                                        10
ACCOUNT EXECUTIVES                                              11
COMMERCIAL ESTIMATOR                                            12
Immediate Opening                                               13
TESL Adjunct                                                    14
Salon Manager/Hairstylists                                      15
VOCATIONAL COUNSELOR                                            16
GALLERY SALES POSITIONS                                         17
SURGICAL SCRUB TECH                                             18
Real Estate Agent                                               19
LPN, RN, CNA, TECHS                                             20
Vacation Sales Representatives                                  21
Top Sales Agent                                                 22
Quick Service Food & Beverage                                   23
CREDIT/COLLECTIONS ASSISTANT                                    24
POOL TECH                                                       25
EXPERIENCED ROOFERS                                             26
ARIZA TALENT & MODELING                                         27
CDL CLASS A DRIVER                                              28
Skilled Tradesman                                               29
                                                              ...
Sales Representative / Account Manager /  Customer Service    9801
Sales Representative / Account Manager /  Customer Service    9802
Sales Representative / Account Manager /  Customer Service    9803
Sales Representative / Account Manager /  Customer Service    9804
Sales Representative / Account Manager /  Customer Service    9805
Sales Representative / Account Manager /  Customer Service    9806
Sales Representative / Account Manager /  Customer Service    9807
Sales Representative / Account Manager /  Customer Service    9808
Sales Representative / Account Manager /  Customer Service    9809
Sales Representative / Account Manager /  Customer Service    9810
Sales Representative / Account Manager /  Customer Service    9811
Sales Representative / Account Manager /  Customer Service    9812
Sales Representative / Account Manager /  Customer Service    9813
Sales Representative / Account Manager /  Customer Service    9814
Sales Representative / Account Manager /  Customer Service    9815
Sales Representative / Account Manager /  Customer Service    9816
Sales Representative / Account Manager /  Customer Service    9817
Sales Representative / Account Manager /  Customer Service    9818
Sales Representative / Account Manager /  Customer Service    9819
Sales Representative / Account Manager /  Customer Service    9820
Sales Representative / Account Manager /  Customer Service    9821
Sales Representative / Account Manager /  Customer Service    9822
Sales Representative / Account Manager /  Customer Service    9823
Sales Representative / Account Manager /  Customer Service    9824
Sales Representative / Account Manager /  Customer Service    9825
Sales Representative / Account Manager /  Customer Service    9826
Sales Representative / Account Manager /  Customer Service    9827
Sales Representative / Account Manager /  Customer Service    9828
Sales Representative / Account Manager /  Customer Service    9829
Sales Representative / Account Manager /  Customer Service    9830
Length: 9831, dtype: int64

In [28]:
def get_recommendations(title):
    idx = indices[title]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    job_indices = [i[0] for i in sim_scores]
    return titles.iloc[job_indices]

In [29]:
get_recommendations('SAP Business Analyst / WM').head(10)

1                           SAP Business Analyst / WM
5895                    SAP FI/CO Business Consultant
5712                       SAP FI/CO Business Analyst
5004                          SAP Basis Administrator
5196    SAP Sales and Distribution Solution Architect
4641       Senior Specialist - SAP Configuration - SD
4962                       SAP Integration Specialist
5253            Senior Business Systems Analyst - SAP
5089                                 Business Analyst
4573           SAP ABAP Developer with PRA experience
Name: Title, dtype: object

In [38]:
user_based_approach_US = users_training.loc[users_training['Country']=='US']
user_based_approach_US

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
0,47,1,Train,Paramount,CA,US,90723,High School,NaN,1999-06-01 00:00:00,3,10.0,Yes,No,0
1,72,1,Train,La Mesa,CA,US,91941,Master's,Anthropology,2011-01-01 00:00:00,10,8.0,Yes,No,0
2,80,1,Train,Williamstown,NJ,US,08094,High School,Not Applicable,1985-06-01 00:00:00,5,11.0,Yes,Yes,5
3,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0
4,123,1,Train,Baton Rouge,LA,US,70808,Bachelor's,Agricultural Business,2011-05-01 00:00:00,1,9.0,Yes,No,0
5,131,1,Train,Houston,TX,US,77077,Bachelor's,Finance,1998-05-01 00:00:00,3,14.0,NaN,No,0
6,162,1,Train,Long Beach,CA,US,90807,Master's,I/O Psychology,2012-05-01 00:00:00,10,25.0,No,No,0
7,178,1,Train,Greenville,SC,US,29609,High School,Not Applicable,NaN,6,35.0,No,Yes,4
8,203,1,Train,Colchester,VT,US,05446,Master's,Burlington,NaN,4,3.0,Yes,No,0
9,344,1,Train,Newport News,VA,US,23601,High School,Not Applicable,2007-01-01 00:00:00,3,7.0,Yes,No,0
10,395,1,Train,Wildwood,MO,US,63038,Bachelor's,Marketing,NaN,10,24.0,Yes,No,0
11,411,1,Train,Lutz,FL,US,33559,None,NaN,NaN,3,11.0,Yes,Yes,1
12,415,1,Train,Leland,NC,US,28451,Associate's,Office Systems Technology,2008-05-01 00:00:00,5,7.0,NaN,No,0
13,437,1,Train,Brookville,OH,US,45309,Associate's,Nursing,2010-05-01 00:00:00,4,15.0,Yes,No,0
14,483,1,Train,York,PA,US,17406,Bachelor's,Accounting,1989-01-01 00:00:00,6,22.0,NaN,No,0
15,496,1,Train,Easley,SC,US,29640,High School,Not Applicable,1987-01-01 00:00:00,10,21.0,No,No,0
16,501,1,Train,Cape Coral,FL,US,33990,Bachelor's,NaN,NaN,4,37.0,No,No,0
17,524,1,Train,Florence,SC,US,29501,Bachelor's,Restaurant and Tourism Management,NaN,5,20.0,Yes,No,0
18,534,1,Train,Nashville,TN,US,37214,High School,Not Applicable,2009-01-01 00:00:00,3,4.0,No,No,0
19,547,1,Train,Milford,CT,US,06460,High School,Not Applicable,1989-01-01 00:00:00,7,23.0,NaN,No,0
20,553,1,Train,Debary,FL,US,32713,Bachelor's,NaN,NaN,3,10.0,NaN,No,0
21,554,1,Train,Altamonte Springs,FL,US,32701,Bachelor's,Legal Studies,2006-12-01 00:00:00,2,4.0,No,No,0
22,555,1,Train,Saint Petersburg,FL,US,33712,High School,Physical education,2011-01-01 00:00:00,0,NaN,No,No,0
23,589,1,Train,Ventura,CA,US,93003,Associate's,NaN,1997-06-01 00:00:00,5,26.0,No,Yes,75
24,640,1,Train,Cooper City,FL,US,33330,None,NaN,NaN,4,34.0,NaN,No,0
25,644,1,Train,Galloway,NJ,US,08205,Bachelor's,Criminal Justice,NaN,4,4.0,Yes,No,0
26,645,1,Train,Dallas,TX,US,75234,High School,Not Applicable,NaN,2,13.0,Yes,No,0
27,655,1,Train,Glendale,AZ,US,85308,Bachelor's,Criminal Justice,2012-05-01 00:00:00,3,5.0,Yes,No,0
28,682,1,Train,Mount Kisco,NY,US,10549,High School,Not Applicable,2005-01-01 00:00:00,4,7.0,Yes,No,0
29,744,1,Train,Elkton,MD,US,21921,High School,Not Applicable,1994-06-01 00:00:00,5,17.0,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389678,1471396,7,Train,Brooklyn,NY,US,11236,Associate's,Accounting,2003-01-01 00:00:00,4,5.0,No,No,0
389679,1471429,7,Train,Austin,TX,US,78746,Bachelor's,Biology,2005-05-01 00:00:00,3,10.0,Yes,No,0
389680,1471464,7,Train,Schnecksville,PA,US,18078,Bachelor's,Organizational Management,2012-05-01 00:00:00,6,12.0,Yes,No,0
389681,1471550,7,Train,Deptford,NJ,US,08096,Bachelor's,International Business and Accounting,2011-05-01 00:00:00,5,3.0,Yes,No,0
389682,1471569,7,Train,Atlanta,GA,US,30331,None,NaN,NaN,9,24.0,Yes,No,0
389683,1471583,7,Train,Louisville,KY,US,40218,None,"self-directed, self-paced learning environment",1984-01-01 00:00:00,6,17.0,Yes,No,0
389684,1471585,7,Train,Tampa,FL,US,33635,None,NaN,NaN,4,26.0,No,No,0
389685,1471599,7,Train,Flint,MI,US,48504,Associate's,Automobile/Automotive Mechanics Technology/Tec...,2010-03-01 00:00:00,4,6.0,No,No,0
389686,1471622,7,Train,Jersey City,NJ,US,07307,Bachelor's,Psychology,2012-06-01 00:00:00,4,8.0,Yes,No,0
389687,1471630,7,Train,Humble,TX,US,77396,None,Humanities,NaN,4,6.0,Yes,No,0
389688,1471633,7,Train,Sacramento,CA,US,95823,Bachelor's,Deaf Education,1985-01-01 00:00:00,9,14.0,Yes,Yes,30
389689,1471635,7,Train,Las Vegas,NV,US,89149,High School,Not Applicable,2007-05-01 00:00:00,3,4.0,No,No,0
389690,1471656,7,Train,Dallas,TX,US,75248,High School,Not Applicable,2003-06-01 00:00:00,4,6.0,Yes,No,0
389691,1471665,7,Train,Dickson,TN,US,37055,High School,GED,1986-01-01 00:00:00,4,12.0,No,No,0
389692,1471691,7,Train,Naugatuck,CT,US,06770,High School,NaN,2006-06-01 00:00:00,4,10.0,Yes,No,0
389693,1471706,7,Train,Baxter,MN,US,56425,High School,Not Applicable,NaN,5,21.0,Yes,No,0
389694,1471719,7,Train,Baltimore,MD,US,21216,None,Customer service,2008-01-01 00:00:00,0,NaN,No,No,0
389695,1471753,7,Train,Longwood,FL,US,32750,High School,NaN,2001-01-01 00:00:00,3,5.0,Yes,No,0
389696,1471765,7,Train,Kennesaw,GA,US,30144,High School,NaN,2012-06-01 00:00:00,1,2.0,No,No,0
389697,1471828,7,Train,Atlanta,GA,US,30312,PhD,NaN,2006-05-01 00:00:00,3,6.0,Yes,No,0
389698,1471870,7,Train,Lubbock,TX,US,79412,None,Criminal Justice,2003-01-01 00:00:00,5,19.0,No,No,0
389699,1471877,7,Train,Greer,SC,US,29650,None,Business Administration,1988-01-01 00:00:00,9,30.0,NaN,No,0
389700,1471878,7,Train,Orangeburg,SC,US,29115,High School,Not Applicable,1999-01-01 00:00:00,4,3.0,No,No,0
389701,1471901,7,Train,Port Clinton,OH,US,43452,None,NaN,NaN,7,25.0,No,No,0
389702,1471975,7,Train,Concord,NC,US,28027,None,NaN,NaN,5,14.0,Yes,No,0
389703,1471997,7,Train,Baltimore,MD,US,21222,High School,Math,2004-06-01 00:00:00,3,5.0,No,Yes,45
389704,1472042,7,Train,Saint Clair Shores,MI,US,48081,High School,NaN,1970-01-01 00:00:00,7,32.0,Yes,No,0
389705,1472058,7,Train,Maspeth,NY,US,11378,Associate's,NaN,2001-01-01 00:00:00,2,8.0,Yes,Yes,3
389706,1472060,7,Train,Lawrenceville,GA,US,30045,High School,"Business, early childhood education",2010-08-01 00:00:00,3,1.0,No,No,0
389707,1472089,7,Train,Indianapolis,IN,US,46204,Bachelor's,Interior Design,2007-01-01 00:00:00,3,6.0,NaN,No,0

In [40]:
user_based_approach = user_based_approach_US.iloc[0:10000,:]
user_based_approach = user_based_approach.dropna()
user_based_approach = user_based_approach.reset_index(drop=True)
user_based_approach

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
0,72,1,Train,La Mesa,CA,US,91941,Master's,Anthropology,2011-01-01 00:00:00,10,8.0,Yes,No,0
1,80,1,Train,Williamstown,NJ,US,08094,High School,Not Applicable,1985-06-01 00:00:00,5,11.0,Yes,Yes,5
2,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0
3,123,1,Train,Baton Rouge,LA,US,70808,Bachelor's,Agricultural Business,2011-05-01 00:00:00,1,9.0,Yes,No,0
4,162,1,Train,Long Beach,CA,US,90807,Master's,I/O Psychology,2012-05-01 00:00:00,10,25.0,No,No,0
5,344,1,Train,Newport News,VA,US,23601,High School,Not Applicable,2007-01-01 00:00:00,3,7.0,Yes,No,0
6,437,1,Train,Brookville,OH,US,45309,Associate's,Nursing,2010-05-01 00:00:00,4,15.0,Yes,No,0
7,496,1,Train,Easley,SC,US,29640,High School,Not Applicable,1987-01-01 00:00:00,10,21.0,No,No,0
8,534,1,Train,Nashville,TN,US,37214,High School,Not Applicable,2009-01-01 00:00:00,3,4.0,No,No,0
9,554,1,Train,Altamonte Springs,FL,US,32701,Bachelor's,Legal Studies,2006-12-01 00:00:00,2,4.0,No,No,0
10,655,1,Train,Glendale,AZ,US,85308,Bachelor's,Criminal Justice,2012-05-01 00:00:00,3,5.0,Yes,No,0
11,682,1,Train,Mount Kisco,NY,US,10549,High School,Not Applicable,2005-01-01 00:00:00,4,7.0,Yes,No,0
12,744,1,Train,Elkton,MD,US,21921,High School,Not Applicable,1994-06-01 00:00:00,5,17.0,No,No,0
13,755,1,Train,Riverton,NJ,US,08077,Bachelor's,Management Information Systems,1985-01-01 00:00:00,7,32.0,Yes,Yes,8
14,908,1,Train,East Lansing,MI,US,48823,Bachelor's,Criminal Justice & Chinese,2012-05-01 00:00:00,6,4.0,Yes,No,0
15,966,1,Train,Charlotte,NC,US,28202,Associate's,Nursing Program,2008-05-01 00:00:00,6,14.0,Yes,No,0
16,1123,1,Train,Jacksonville,FL,US,32256,None,Civil Engineering and Architecture,2012-12-01 00:00:00,3,9.0,Yes,Yes,100
17,1138,1,Train,Monroe,OH,US,45050,High School,Not Applicable,2007-01-01 00:00:00,4,4.0,Yes,No,0
18,1201,1,Train,Depauw,IN,US,47115,High School,Not Applicable,1992-01-01 00:00:00,2,18.0,No,No,0
19,1226,1,Train,Cincinnati,OH,US,45245,None,Licensed Practical/Vocational Nurse Training (...,1988-12-01 00:00:00,8,23.0,No,No,0
20,1363,1,Train,Rochester,NY,US,14626,Bachelor's,Rhetoric & Communications,2011-12-01 00:00:00,3,4.0,Yes,No,0
21,1374,1,Train,Paterson,NJ,US,07504,High School,Not Applicable,1998-06-01 00:00:00,8,13.0,No,No,0
22,1486,1,Train,Conroe,TX,US,77301,High School,Not Applicable,2008-01-01 00:00:00,2,6.0,Yes,No,0
23,1526,1,Train,Chicago,IL,US,60619,High School,Culinary Arts/Chef Training,2011-01-01 00:00:00,1,2.0,No,No,0
24,1541,1,Train,Cold Spring,MN,US,56320,High School,Not Applicable,1985-05-01 00:00:00,9,25.0,No,No,0
25,1610,1,Train,Huntersville,NC,US,28078,Bachelor's,"Business/Commerce, General",2003-03-01 00:00:00,5,5.0,No,No,0
26,1793,1,Train,Saint Augustine,FL,US,32084,Bachelor's,Communication,2012-04-01 00:00:00,3,2.0,Yes,No,0
27,1800,1,Train,Chicago,IL,US,60653,High School,Not Applicable,1972-06-01 00:00:00,2,21.0,No,No,0
28,1846,1,Train,Newportville,PA,US,19056,Associate's,Computer Electronics,2004-01-01 00:00:00,4,6.0,Yes,No,0
29,2032,1,Train,Haddonfield,NJ,US,08033,Master's,Social Work,2012-05-01 00:00:00,3,2.0,Yes,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,217139,1,Train,San Gabriel,CA,US,91776,Master's,Industrial Technology,2012-05-01 00:00:00,8,8.0,Yes,No,0
4766,217182,1,Train,Pittsburgh,PA,US,15217,High School,Liberal Arts and Sciences/Liberal Studies,2003-01-01 00:00:00,2,4.0,Yes,No,0
4767,217213,1,Train,Chandler,AZ,US,85225,High School,"Graphic Communications, General",1978-08-01 00:00:00,3,32.0,No,Yes,12
4768,217214,1,Train,Baltimore,MD,US,21239,Bachelor's,Sociology,2012-12-01 00:00:00,4,9.0,No,No,0
4769,217290,1,Train,Whitestone,NY,US,11357,Master's,Healthcare Administration,2010-09-01 00:00:00,3,7.0,Yes,No,0
4770,217328,1,Train,Chicago,IL,US,60639,High School,Not Applicable,1984-01-01 00:00:00,5,22.0,Yes,No,0
4771,217340,1,Train,Fort Worth,TX,US,76177,Master's,Applied Project Management,2010-04-01 00:00:00,8,18.0,Yes,Yes,145
4772,217350,1,Train,Benson,NC,US,27504,High School,Not Applicable,2007-06-01 00:00:00,5,6.0,Yes,No,0
4773,217351,1,Train,Antioch,TN,US,37013,Bachelor's,Certified Nurse Technician,1984-05-01 00:00:00,3,23.0,No,No,0
4774,217359,1,Train,Ocean Springs,MS,US,39564,High School,Not Applicable,1996-05-01 00:00:00,5,9.0,No,Yes,12
4775,217405,1,Train,Columbia City,IN,US,46725,Bachelor's,Business Administration,2011-12-01 00:00:00,3,4.0,Yes,Yes,5
4776,217406,1,Train,Chicago,IL,US,60614,Master's,Finance,2011-11-01 00:00:00,4,6.0,Yes,No,0
4777,217414,1,Train,Tucson,AZ,US,85756,Associate's,Business,2010-09-01 00:00:00,4,8.0,No,No,0
4778,217566,1,Train,Marion,VA,US,24354,High School,Not Applicable,2006-06-01 00:00:00,6,3.0,Yes,No,0
4779,217639,1,Train,Marietta,GA,US,30064,Bachelor's,Technical and Professional Communication/Compu...,2008-12-01 00:00:00,10,21.0,Yes,Yes,4
4780,217648,1,Train,Miami,FL,US,33137,None,music,2010-01-01 00:00:00,1,1.0,No,No,0
4781,217666,1,Train,Milton,MA,US,02186,Master's,MBA,1975-01-01 00:00:00,3,15.0,No,No,0
4782,217669,1,Train,Bronx,NY,US,10452,None,Spanish Language and Literature,1998-07-01 00:00:00,6,16.0,Yes,Yes,2
4783,217678,1,Train,Pueblo,CO,US,81005,Bachelor's,"Business Management, Marketing emphasis",2012-05-01 00:00:00,4,6.0,Yes,No,0
4784,217706,1,Train,Charlotte,NC,US,28215,High School,"Education, General",1996-01-01 00:00:00,5,11.0,Yes,Yes,7
4785,217720,1,Train,Pompano Beach,FL,US,33062,Bachelor's,Marketing,2002-01-01 00:00:00,10,14.0,Yes,Yes,20
4786,217756,1,Train,Lake Forest,CA,US,92630,Associate's,Sociology and Political Science,2001-06-01 00:00:00,4,10.0,No,Yes,65
4787,217780,1,Train,Garland,TX,US,75044,High School,Not Applicable,1980-01-01 00:00:00,8,30.0,Yes,Yes,70
4788,217782,1,Train,Louisville,KY,US,40258,Associate's,Healthcare Administration,2012-03-01 00:00:00,6,12.0,No,No,0
4789,217799,1,Train,Purcellville,VA,US,20132,Bachelor's,History/Education,2005-05-01 00:00:00,1,3.0,Yes,Yes,13
4790,217809,1,Train,Boise,ID,US,83704,High School,General,2010-06-01 00:00:00,4,5.0,Yes,No,0
4791,217813,1,Train,Ankeny,IA,US,50023,Bachelor's,Broadcasting,2007-01-01 00:00:00,7,6.0,Yes,No,0
4792,217816,1,Train,Phoenix,AZ,US,85023,Associate's,"Business Administration and Management, General",2013-06-01 00:00:00,3,8.0,No,No,0
4793,217826,1,Train,Orlando,FL,US,32801,PhD,Management,2012-01-01 00:00:00,8,5.0,No,No,0
4794,217841,1,Train,Mc Connells,SC,US,29726,Bachelor's,K-12 Choral/Instrumental MUSIC EDUCATION,2006-05-01 00:00:00,5,10.0,No,No,0

In [44]:
user_based_approach['DegreeType'] = user_based_approach['DegreeType'].fillna('')
user_based_approach['Major'] = user_based_approach['Major'].fillna('')
user_based_approach['TotalYearsExperience'] = str(user_based_approach['TotalYearsExperience'].fillna(''))

user_based_approach['DegreeType'] = user_based_approach['DegreeType'] + user_based_approach['Major'] + user_based_approach['TotalYearsExperience']

In [45]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(user_based_approach['DegreeType'])
tfidf_matrix

<4795x5620 sparse matrix of type '<class 'numpy.float64'>'
	with 681224 stored elements in Compressed Sparse Row format>

In [46]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [148]:

userid = user_based_approach['Major']
global indices
indices = pd.Series(user_based_approach.index, index=user_based_approach['Major'])
#indices.head(2)

In [149]:
def get_recommendations_userwise(uid):
    idx = indices[uid]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1].any(), reverse=True)
    user_indices = [i[0] for i in sim_scores]
    #print (user_indices)
    return user_indices[0:11]
def get_job_id(usrid_list):
    jobs_userwise = apps_training['UserID'].isin(usrid_list) #
    df1 = pd.DataFrame(data = apps_training[jobs_userwise], columns=['JobID'])
    joblist = df1['JobID'].tolist()
    Job_list = jobs['JobID'].isin(joblist) #[1083186, 516837, 507614, 754917, 686406, 1058896, 335132])
    df_temp = pd.DataFrame(data = jobs[Job_list], columns=['JobID','Title','Description','City','State'])
    return df_temp

In [158]:
get_job_id(get_recommendations_userwise("Not Applicable"))["Title"]

479106                                               Teller
527966    Customer Service Representative, Now Accepting...
596996                        UPS Part Time Package Handler
657723                          Full Time  Fork Lift Driver
681420                                Now Hiring All Trades
Name: Title, dtype: object

In [159]:
merged=pd.merge(user_based_approach,user_history_training,on="UserID")

In [160]:
merged= merged.iloc[0:10000,:]
merged = merged.dropna()
merged = merged.reset_index(drop=True)
merged

,level_0,index,UserID,WindowID_x,Split_x,City,State,Country,ZipCode,DegreeType,...,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany,WindowID_y,Split_y,Sequence,JobTitle
0,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,"Lecturer, Department of Anthropology"
1,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,2,Student Assistant
2,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,3,Elderly Caregiver
3,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,5,"Department Assistant, Department"
4,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,6,Book Reviews Editorial Assistant
5,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,7,Graduate Assistant
6,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,9,Research Assistant
7,0,0,72,1,Train,La Mesa,CA,US,91941,Master'sAnthropology0 8.0\n1 11.0...,...,2011-01-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,10,"Docent, C.E. Smith Museum of Anthropology, Cal..."
8,1,1,80,1,Train,Williamstown,NJ,US,08094,High SchoolNot Applicable0 8.0\n1 ...,...,1985-06-01 00:00:00,5,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,5,1,Train,1,"Auto Publishing/Electro Mechanical Technician,..."
9,1,1,80,1,Train,Williamstown,NJ,US,08094,High SchoolNot Applicable0 8.0\n1 ...,...,1985-06-01 00:00:00,5,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,5,1,Train,2,"Enhanced Baker Cell Technician, EBC Technician"
10,1,1,80,1,Train,Williamstown,NJ,US,08094,High SchoolNot Applicable0 8.0\n1 ...,...,1985-06-01 00:00:00,5,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,5,1,Train,3,Lead was was also given the position as Drug ...
11,1,1,80,1,Train,Williamstown,NJ,US,08094,High SchoolNot Applicable0 8.0\n1 ...,...,1985-06-01 00:00:00,5,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,5,1,Train,4,"Sales Associate, Installer"
12,1,1,80,1,Train,Williamstown,NJ,US,08094,High SchoolNot Applicable0 8.0\n1 ...,...,1985-06-01 00:00:00,5,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,5,1,Train,5,"Enhanced Baker Cell Technician, EBC Technician"
13,2,2,98,1,Train,Astoria,NY,US,11105,Master'sJournalism0 8.0\n1 11.0\n...,...,2007-05-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,Editor-in-Chief
14,2,2,98,1,Train,Astoria,NY,US,11105,Master'sJournalism0 8.0\n1 11.0\n...,...,2007-05-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,2,Deputy Sports & Website Editor
15,2,2,98,1,Train,Astoria,NY,US,11105,Master'sJournalism0 8.0\n1 11.0\n...,...,2007-05-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,3,Author
16,3,3,123,1,Train,Baton Rouge,LA,US,70808,Bachelor'sAgricultural Business0 8.0\n1...,...,2011-05-01 00:00:00,1,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,Lead Hostess and Takeout Server
17,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,1,Student Assistant
18,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,2,Graduate Assistant
19,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,3,Treasurer
20,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,4,Owner
21,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,5,Reconciliation Specialist/Visa Service
22,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,6,Assistant Manager
23,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,7,Temporary Job
24,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,8,Secretary
25,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,9,"A/R, Administrators Assistant"
26,4,4,162,1,Train,Long Beach,CA,US,90807,Master'sI/O Psychology0 8.0\n1 11...,...,2012-05-01 00:00:00,10,0 8.0\n1 11.0\n2 3.0\n3 ...,No,No,0,1,Train,10,Salon Manager
27,5,5,344,1,Train,Newport News,VA,US,23601,High SchoolNot Applicable0 8.0\n1 ...,...,2007-01-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,Restaurant Server
28,5,5,344,1,Train,Newport News,VA,US,23601,High SchoolNot Applicable0 8.0\n1 ...,...,2007-01-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,2,Cashier
29,5,5,344,1,Train,Newport News,VA,US,23601,High SchoolNot Applicable0 8.0\n1 ...,...,2007-01-01 00:00:00,3,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,3,Cashier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9210,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,3,Account Manager
9211,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,4,Account Manager
9212,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,5,Regional Sales Support Specialist
9213,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,6,Sole Practitioner
9214,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,7,Associate
9215,2304,2304,114791,1,Train,Hutchinson,KS,US,67502,PhDJuris0 8.0\n1 11.0\n2 3...,...,1998-01-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,2,1,Train,8,Law Clerk/ Associate
9216,2305,2305,114792,1,Train,Palm Beach Gardens,FL,US,33410,VocationalBusiness Administration and Manageme...,...,1982-09-01 00:00:00,1,0 8.0\n1 11.0\n2 3.0\n3 ...,No,Yes,10,1,Train,1,Administrative Support
9217,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,1,Technial Support Engineer
9218,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,2,Key holder
9219,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,3,CASHIER
9220,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,4,INVENTORY SPECIALIST
9221,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,5,TAX PREPARER
9222,2306,2306,114812,1,Train,Fort Lauderdale,FL,US,33322,Bachelor'sCriminal Justice0 8.0\n1 ...,...,2011-08-01 00:00:00,6,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,3,1,Train,6,CASHIER
9223,2307,2307,114882,1,Train,Roanoke,TX,US,76262,Master'sInterdisciplinary Studies0 8.0\...,...,2005-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,Self Employed Consultant
9224,2307,2307,114882,1,Train,Roanoke,TX,US,76262,Master'sInterdisciplinary Studies0 8.0\...,...,2005-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,2,Senior Marketing Manager
9225,2307,2307,114882,1,Train,Roanoke,TX,US,76262,Master'sInterdisciplinary Studies0 8.0\...,...,2005-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,3,Marketing Specialist
9226,2307,2307,114882,1,Train,Roanoke,TX,US,76262,Master'sInterdisciplinary Studies0 8.0\...,...,2005-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,4,Account Service Coordinator
9227,2308,2308,114909,1,Train,Sandy Springs,GA,US,30350,Associate'sAccounting0 8.0\n1 11....,...,1992-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,2,1,Train,1,Staff Accountant / Bookkeeper / Asset Specialist
9228,2308,2308,114909,1,Train,Sandy Springs,GA,US,30350,Associate'sAccounting0 8.0\n1 11....,...,1992-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,2,1,Train,2,Accountant
9229,2308,2308,114909,1,Train,Sandy Springs,GA,US,30350,Associate'sAccounting0 8.0\n1 11....,...,1992-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,2,1,Train,3,Accounting/Purchasing Supervisor
9230,2308,2308,114909,1,Train,Sandy Springs,GA,US,30350,Associate'sAccounting0 8.0\n1 11....,...,1992-01-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,2,1,Train,4,Quality Assurance Inspector/ Tech
9231,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,1,Full Time Student
9232,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,3,Customer Service/Cashier
9233,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,4,Customer Service Representative
9234,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,5,Assistant Manager
9235,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,6,Cashier
9236,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,7,Manager
9237,2309,2309,114922,1,Train,Lawrence,KS,US,66046,Bachelor'sPsychology0 8.0\n1 11.0...,...,2012-04-01 00:00:00,8,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,No,0,1,Train,8,92 Golf Food Specialist
9238,2310,2310,114951,1,Train,Wilsonville,OR,US,97070,VocationalMechanical0 8.0\n1 11.0...,...,2004-06-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,12,1,Train,1,Field Technician
9239,2310,2310,114951,1,Train,Wilsonville,OR,US,97070,VocationalMechanical0 8.0\n1 11.0...,...,2004-06-01 00:00:00,4,0 8.0\n1 11.0\n2 3.0\n3 ...,Yes,Yes,12,1,Train,2,Greens Keeper

In [161]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(merged['JobTitle'])
tfidf_matrix

<9240x12745 sparse matrix of type '<class 'numpy.float64'>'
	with 41838 stored elements in Compressed Sparse Row format>

In [162]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [163]:

indices = pd.Series(merged.index, index=merged['Major'])

In [131]:
def get_recommendations_userwise(userid):
    idx = indices[userid]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    user_indices = [i[0] for i in sim_scores]
    #print (user_indices)
    return user_indices

In [132]:
get_job_id(get_recommendations_userwise("Psychology"))

KeyError: 'Psychology'

In [167]:
def get_recommendations_userwise(uid):
    idx = indices[uid]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1].any(), reverse=True)
    user_indices = [i[0] for i in sim_scores]
    #print (user_indices)
    return user_indices[0:11]

def get_job_id(usrid_list):
    jobs_userwise = apps_training['UserID'].isin(usrid_list) #
    df1 = pd.DataFrame(data = apps_training[jobs_userwise], columns=['JobID'])
    joblist = df1['JobID'].tolist()
    Job_list = jobs['JobID'].isin(joblist) #[1083186, 516837, 507614, 754917, 686406, 1058896, 335132])
    df_temp = pd.DataFrame(data = jobs[Job_list], columns=['JobID','Title','Description','City','State'])
    return df_temp

In [166]:
get_job_id(get_recommendations_userwise("Anthropology"))["Title"]

479106                                               Teller
527966    Customer Service Representative, Now Accepting...
596996                        UPS Part Time Package Handler
657723                          Full Time  Fork Lift Driver
681420                                Now Hiring All Trades
Name: Title, dtype: object